body {
    background-color:hsl(212, 45%, 89%);
    text-align: center;
}
div {
    background-color: white;
     border-radius: 20px;
     margin: 90px 430px auto 430px;
     padding-bottom: 20px;
}
img {
    margin: 15px 15px 15px 15px;
    width: 300px;border-radius: 10px;
}
h2 {
    color: hsl(218, 44%, 22%);font-weight: 700;
}
p {
    color: hsl(220, 15%, 55%);
}